<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Review</title>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link rel="shortcut icon" href="/images/logo/logo_ibento.png">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="review.css">
		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/data.js"></script>
		<script src="dashboard.js"></script>
		<script src="data/upload_review.js"></script>
	</head>
	<body>
		<div class="header">
			<div class="logo">
				<i class="fa fa-tachometer"></i>
				<span><img style="width:30px;" src="../images/logo/logo_ibento.png">Ibento</span>
			</div>
			<a href="#" class="nav-trigger"><span></span></a>
		</div>
		<div class="side-nav">
			<div class="logo">
					<span><img style="width:30px;" src="../images/logo/logo_ibento.png">Ibento</span>
			</div>
			<nav>
				<ul>
					<li>
						<a href="dasboard.html">
							<span><i class="fa fa-user"></i></span>
							<span>Dashboard</span>
						</a>
					</li>
					<li>
							<a href="getreview.html">
	
								<span><i class="fa fa-cubes"></i></span>
								<span>View Events</span>
							</a>
						</li>
						<li>
								<a href="hostevent.html">
		
									<span><i class="fa fa-cubes"></i></span>
									<span>Host Events</span>
								</a>
							</li>
						<li class="active">
								<a href="review.html">
		
									<span><i class="fa fa-credit-card"></i></span>
									<span> Upload Review</span>
								</a>
							</li>
							<li>
									<a href="getreview.html"> 
										<span><i class="fa fa-credit-card"></i></span>
										<span>Reviews</span>
									</a>
								</li>
					<li>
						<a href="equipment_rental.html">
							<span><i class="fa fa-cart-plus"></i></span>
							<span>Equipment Rental</span>
						</a>
					</li>
					<li>
						<a href="venue.html">
							<span><i class="fa fa-bar-chart"></i></span>
							<span>Venue Rental</span>
						</a>
					</li>
					<li>
							<a href="profile.html">
								<span><i class="fa fa-user"></i></span>
								<span>Profile</span>
							</a>
						</li>
					<li>
							<a href="../index.html">
								<span><i class="fa fa-minus-circle"></i></span>
								<span>Log Out</span>
							</a>
						</li>
				</ul>
			</nav>
		</div>
		<div class="main-content">
			<div class="title">
				Review Event
			</div>
			<div class="main" ng-app="myApp" ng-controller="review">
				<form  novalidate name="review">
                    <div class="center-form" >
						<div class="question">
								<span ng-show="review.EventName.$error.required">Required *</span>
							<input type="text" placeholder="Event Name" name="EventName" id="name" ng-model="EventName" required>
						</div>
						<div class="question">
							<label for="event" style="text-decoration: underline;">Select Event Type You Attended</label>
                                <ul>
										<span ng-show="review.choice.$error.required">Required *</span>
									<select class="custom-select" style="width:300px;margin-top:5px;" name="choice" id="eventtype" ng-model="eventtype" required>
										<option value="" >Select Event</option>
										<option value="Corporate" >Corporate</option>
										<option value="Conference" >Conference</option>
										<option value="Seminar" >Seminar</option>
										<option value="Exhibition" >Exhibition</option>
										<option value="Wedding" >Wedding</option>
										<option value="ProductLaunch" >ProductLaunch</option>
										<option value="Promotion" >Promotion</option>
										<option value="IncentiveTour" >IncentiveTour</option>
										<option value="Award" >Award</option>
										<option value="Entertainment" >Entertainment</option>
						</select>
							</ul>
						</div>
						<div class="question">
								<span ng-show="review.image.$error.required">Required *</span>
							<input type="text" placeholder="Enter Image URL" name="image" id="image" ng-model="image" required>
						</div>
						<div class="question">
							<input type="text" placeholder="Enter Video URL" name="video" ng-model="video">
						</div>
						<div class="question">
								<span ng-show="review.desc.$error.required">Required *</span>
							<textarea type="text" placeholder="Enter Review" id="desc" name="desc" ng-model="description" rows="6" cols="45" required></textarea>
						</div>
						<center><button ng-disabled="review.$invalid" onclick="validate();" class="btn-lg" ng-click="submit()">Submit</button></center>
							</div>
			</form>
			
			</div>
			</div>
			
		<footer>
				<div class="copy">
						<p>&copy; Copyright 2019 <a href="index.html">Ibento</a></p>
					  </div>
		</footer>
	</body>
	<script type="text/javascript">
		function validate()
		{
			var event = document.getElementById('name').value;
			var eventtype = document.getElementById('eventtype').value;
			var image = document.getElementById('eventtype').value;
			var desc= document.getElementById('desc').value;
			if((event!=null)&&(eventtype!=null)&&(image!=null))
			{
				swal("Submitted!", "You Sucessfully Registered!","success");
			}
		}
	</script>
	<style>
		input.ng-invalid{
		border:1px solid red !important;
		}
		textarea.ng-invalid{
			border:1px solid red !important;
		}
		form span{
		font-size:12px !important; 
		padding-left: 20px;
		color:black;
		}
		</style>
</html>